<!-- HOME CONTENT START -->
<section id="tab">
        {{#if user}}
        <button class="create-poll-btn" onclick="location.href='/polls/create'"><i class="fa-solid fa-circle-plus"></i> Create Poll</button>
    {{/if}}
    <section id="polls-list">
        {{#each polls}}
        <a href="/polls/{{this.id}}" title="view">
        <article class="poll-animate"> 
            <p class="poll-list-link">{{this.question}}</p>  
            <div>
                <span>VOTES</span>
                <span>{{this.totalVotes}}</span>
            </div>
        </article>
        </a>
        {{/each}}
    </section>
</section>
<!-- HOME CONTENT END -->

