<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivePoll - Poll</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/a77035a0c0.js" crossorigin="anonymous"></script>
    <!-- *** SOCKET.IO CLIENT *** -->
  <script src="/javascripts/socket.io.js"></script>
    
</head>
<body>
  <nav>
    {{#if user}}
      <a href="#">{{user.username}}</a>
      <a href="/users/logout">Logout</a>
    {{else}}
      <a href="/users/register">Register</a>
      <a href="/users/login">Login</a>
    {{/if}}      
  </nav>
  <!-- HEADER START -->
  <header>
    <section>
      <a href="/"><img src="/images/livepoll-logo.svg" alt="Livepoll logo" /></a>
    </section>
  </header>
  <!-- HEADER END -->
  <!-- MAIN START -->
  <main>
    {{{body}}}
    {{#unless poll}}
    <aside id="username-display-b">
    </aside>
    {{/unless}}
  </main>
  <!-- MAIN END -->
  <script src="/javascripts/scripts.js" defer></script>
</body>
</html>