@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Cabin&family=Oswald&display=swap');

:root {
  --purple: #401D51;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

*:focus {
  outline: none;
}

html {
  background-color: #170823;
}

body {
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/header.png'), linear-gradient(180deg, #1e0c2d 37.5%, #1d042e 52.6%, #291335 83.33%);
  background-repeat: no-repeat;
  background-size: 100% auto;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #401D51;
}

h1, h2, h3, p {
  margin: 0px;
  padding: 0px
}

h1 {
  font-size: 3rem;
  font-family: 'Bayon', sans-serif;
  color: var(--purple)
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
position: relative;
width: 580px;
min-height: 530px;
background: #FFFFFF;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.414);
border-radius: 0px 0px 40px 40px;
transition: all 500ms;
}

header > section > a > img {
  position: relative;
  margin-bottom: 3rem;
}

/* PAGE STYLES */

section#page-top-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 8rem 1fr;
}

section#page-top-container div:first-of-type {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 1.8rem;
  border-bottom-right-radius: 25px;
}

section#page-top-container div:first-of-type i {
  width: fit-content;
  display: block;
  color: #fff;
  font-size: 2.5rem;
}


section#page-top-container div:nth-of-type(2) {
  display: flex;
  align-items: end;
  padding-left: 1.75rem;
  padding-bottom: .25rem;
}


/* LOGIN PAGE */

section#login-tab {
  padding: 2rem 3rem;
  padding-bottom: 1rem;
  position: relative;
}

p.messages {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #373737;
  background: #b8ff99;
  padding: .75rem;
  margin: 2rem auto 1rem auto;
}

p.error-message {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #373737;
  background: #F4F4F4;
  padding: .75rem;
  margin: 1rem auto 1rem auto;
}

p.login{
  text-transform: none;
}

p.error-message-bad {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #960000;
  background: #ffc1c1;
  padding: .75rem;
  margin: 2rem auto 1rem auto;
}

section#login-tab input {
  font-family: 'Oswald', sans-serif;
  border: none;
  border-bottom: 2px solid var(--purple);
  font-size: 1.15rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

section#login-tab textarea {
  font-family: 'Oswald', sans-serif;
  border: none;
  border: 2px solid var(--purple);
  font-size: 1.15rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

section#login-tab input:focus {
  border-bottom: 2px solid #e100ff;
}

section#login-tab textarea:focus {
  border: 2px solid #e100ff;
}

section#login-tab button, section#home-list button {
  width: 100%;
  border: none;
  font-family: 'Bayon';
  font-size: 1.5rem;
  padding: .25rem;
  margin-top: 3rem;
  background-color: var(--purple);
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}

/* HOME page styles */

table {
  margin-top: 1rem;
  width: 100%;
}

table th {
  font-size: 2rem;
}

table td a {
  font-size: 1.25rem;
}

table td {
  padding-top: 1rem;
}

/* POLL page styles */
.question {
  font-family: 'Cabin', sans-serif;
  font-size: 1.75rem;
  line-height: 2.75rem;
}

fieldset.poll-answers div input[type="radio"] {
  display: inline-block;
  font-size: 3rem;
  margin-right: 1rem;
}

fieldset.poll-answers {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

fieldset.poll-answers div {
  /* box-sizing: border-box;
  margin-top: 1.5rem; */
}

span.vote-count {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Bayon', sans-serif;
  padding: .25rem .5rem;
  background-color: var(--purple);
  margin-left: 1rem;
  border-radius: 20px;
}

aside#poll-link {
  padding: 20px;
  background-color: rgba(55, 55, 55, 0.07);
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

aside#username-display {
  color: #fff;
  font-family: 'Cabin';
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0px;
  position: relative;
  bottom: 0px;
  text-align: center;
  background-color: #401D51;
  border-radius: 0px 0px 35px 35px;
}

aside#username-display-b {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0px;
  position: absolute;
  bottom: 0px;
  background-color: #401D51;
  border-radius: 0px 0px 35px 35px;
}

aside#username-display p {
  font-size: 13px;
}

aside#username-display i {
  color: #00967f;
  margin-left: 5px;
  cursor: grab;
}


/* Radio Input Styles */

.custom-radio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #F4F4F4;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Create the custom radio button */
.custom-radio label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #401D51;
  position: relative;
  cursor: pointer;
}

/* Style the inner circle */
.custom-radio label::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #401D51;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}

/* Show the inner circle when the radio button is checked */
.custom-radio input[type="radio"]:checked + label::after {
  opacity: 1;
  width: 22px;
  height: 22px;
}

span.answer-label {
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
}


.percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b8ff99;
  height: 100%;
  width: 0; /* The initial width is set to 0 */
  transition: width 0.3s ease; /* Add a transition effect for smooth width changes */
  z-index: 1;
}

.poll-option-container {
  z-index: 10;
  display: flex;
  align-items: center;
}