@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Cabin&family=Oswald&display=swap');

:root {
  --purple: #430c60;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

*:focus {
  outline: none;
}

html {
  background-color: var(--purple);
}

body {
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/header.png'), linear-gradient(180deg, #2f0050 37.5%, #2d0141 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--purple);
}

h1, h2, h3, p {
  margin: 0px;
  padding: 0px
}

h1 {
  font-size: 3rem;
  font-family: 'Bayon', sans-serif;
  color: var(--purple);
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.216);
}

header > section {
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

#main-inner {
  width: 100%;
  min-height: 530px;
  background: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #b7b7b7;
}

@media screen and (min-width: 600px) {
  #main-inner {
    min-width: 590px;
    max-width: 560px;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.414);
  }

  header {
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* MENU */


header a {
  color: #000000;
}

header nav section#nav-links {
  display: none;
}

header nav #nav-btn i {
  color: #fff;
  font-size: 3rem;
}

header nav ul{
  display: flex;
  list-style: none;
  padding: 0px;
}

header nav ul li{
  padding: 0px 20px;
}

header nav ul li a{
  color: #fff;
}

header nav input{
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 15px;
}

header img {
  z-index: 150;
  width: 250px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
}

#menuToggle label span {
  display: flex;
  width: 35px;
  height: 4px;
  margin-bottom: 7px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  z-index: 100;
  transform-origin: left center;
  transition: transform 0.5s,
              background-color 0.5s,
              opacity 0.55s ease;
}



#menuToggle input:checked ~ label span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
}

#menuToggle input:checked ~ label span:nth-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ label span:nth-of-type(3) {
  transform: rotate(-45deg) translate(-2px, 0px);
}

#menu {
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  transform: translateX(100%);
  transition: transform 0.5s linear;
  z-index: 50;
  box-shadow: inset 0px 30px 20px -10px #4607592e;
}

#menuToggle input:checked ~ #menu {
  transform: translateX(0);
}

#menu li {
  padding: 10px 0px;
  transition-delay: 2s;
}

#menu li a {
  color: #0e0e0e;
}

#menuToggle input  {
  display: none;
}

#menuToggle input:checked ~ section {
  transform: translate(-50%,0);
}

/* PAGE STYLES */

section#page-top-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 8rem 1fr;
}

section#page-top-container div:first-of-type {
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-right: 1.8rem;
  border-bottom-right-radius: 25px;
}

section#page-top-container div:first-of-type i {
  width: fit-content;
  display: block;
  color: #fff;
  font-size: 2.5rem;
}


section#page-top-container div:nth-of-type(2) {
  display: flex;
  align-items: end;
  padding-left: 1.75rem;
  padding-bottom: .25rem;
}


/* LOGIN PAGE */

section#tab {
  padding: 1rem 1rem;
  position: relative;
}

section#tab-create {
  min-width: 100%;
}

@media screen and (min-width: 600px) {
  section#tab {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


p.messages {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #373737;
  background: #F4F4F4;
  padding: .75rem;
  margin: 1rem auto 1rem auto;
}

p.messages-voted {
  background: #b8ff99;
  animation: fade 5500ms forwards;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #373737;
  background: #F4F4F4;
  padding: .75rem;
  margin: .25rem auto 1rem auto;
}

p.messages-login {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #373737;
  background: #F4F4F4;
  padding: .75rem;
  margin: .25rem auto 1rem auto;
}

@keyframes fade {
  0% {
    background: #b8ff99;
  }
  100% {
    background: #F4F4F4;
  }
}

p.login{
  text-transform: none;
}

p.messages-error {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #960000;
  background: #ffc1c1;
  padding: .75rem;
  margin: 2rem auto 1rem auto;
}

section#tab input {
  font-family: 'Oswald', sans-serif;
  border: none;
  border-bottom: 2px solid var(--purple);
  font-size: 1.15rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

section#tab textarea {
  font-family: 'Oswald', sans-serif;
  border: none;
  border: 2px solid var(--purple);
  font-size: 1.15rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

section#tab input:focus {
  border-bottom: 2px solid #e100ff;
}

section#tab textarea:focus {
  border: 2px solid #e100ff;
}

section#tab button, section#home-list button {
  width: 100%;
  border: none;
  font-family: 'Bayon';
  font-size: 1.75rem;
  padding: .75rem .25rem;
  margin-top: 3rem;
  background-color: var(--purple);
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 23px;
}

/* HOME page styles */

table {
  margin-top: 1rem;
  width: 100%;
}

table th {
  font-size: 2rem;
}

table td a {
  font-size: 1.25rem;
}

table td {
  padding-top: 1rem;
}

/* POLL page styles */

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.question {
  font-family: 'Cabin', sans-serif;
  font-size: 1.75rem;
  line-height: 2.75rem;
}

fieldset.poll-answers div input[type="radio"] {
  display: inline-block;
  font-size: 3rem;
  margin-right: 1rem;
}

fieldset.poll-answers {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

span.vote-count {
  font-size: 1.25rem;
  color: #fff;
  font-family: 'Bayon', sans-serif;
  padding: .25rem .5rem;
  background-color: var(--purple);
  margin-left: 1rem;
  border-radius: 20px;
}

aside#poll-link {
  padding: 20px;
  background-color: rgba(55, 55, 55, 0.07);
}

aside#username-display {
  color: #fff;
  font-family: 'Cabin';
  padding: 25px 0px;
  position: relative;
  bottom: 0px;
  text-align: center;
  background-color: var(--purple);
}

aside#username-display-b {
  width: 100%;
  padding: 15px 0px;
  position: absolute;
  bottom: 0px;
  background-color: var(--purple);
}

@media screen and (min-width: 600px){
  aside#username-display {
    border-radius: 0px 0px 40px 40px;
  }
  
  aside#username-display-b {
    border-radius: 0px 0px 40px 40px;
  }
}

aside#username-display p {
  font-family: 'Oswald';
  font-size: 14px;
  word-break: break-all;
  line-height: 1.5rem;
}

aside#username-display p:nth-of-type(1) {
  font-size: 35px;
}

aside#username-display p:nth-of-type(2) {
  font-size: 15px;
  margin-top: 20px
}

aside#username-display p:nth-of-type(3) {
  font-weight: border;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.127);
  border-radius: 100px;
  margin-top: 16px;
  padding: 10px;
  background-color: #ffffff08;
  cursor: pointer;
}

aside#username-display p:nth-of-type(3):HOVER {
  cursor: pointer;
  background-color: #ffffff25;
}

aside#username-display i {
  font-size: .8rem;
  color: #ffffff;
  margin-left: 3px;
  cursor: grab;
  padding: 4px;
  border-radius: 5px;
}

aside#username-display i:hover {
  color: #cbffba;
}

#username-display-inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* Radio Input Styles */

.poll-option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #F4F4F4;
}

/* Hide the default radio button */
.poll-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Create the custom radio button */
.poll-option label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  position: relative;
  cursor: pointer;
}

/* Style the inner circle */
.poll-option label::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}

/* Show the inner circle when the radio button is checked */
.poll-option input[type="radio"]:checked + label::after {
  opacity: 1;
  width: 22px;
  height: 22px;
}

span.answer-label {
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 1.25rem;
  margin-left: 10px;
}


.percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b8ff99;
  height: 100%;
  width: 0; /* The initial width is set to 0 */
  transition: all 500ms ease; /* Add a transition effect for smooth width changes */
  z-index: 1;
}

.poll-option-container {
  z-index: 10;
  display: flex;
  align-items: center;
}


table td {
  padding: 15px 0px;
  padding-right: 10px;
}

.list {
  margin-bottom: 3rem;
}

footer {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.216);
}

footer p {
  color: rgba(255, 255, 255, 0.216);
  font-size: .8rem;
 text-align: center;
}