<!-- LOGIN START -->
<!-- PAGE HEADER -->
<section id="page-top-container">
    <div>
       <i class="fa-solid fa-lock"></i>
    </div>
    <div>
        <h1>Login</h1>
    </div>
</section>
<!-- PAGE HEADER END -->
<!-- PAGE CONTENT -->
<section id="tab">
{{#if messages}}
<p class="messages-error">login failed please try again</p>
{{else}}
<p class="messages-login">PLEASE LOGIN - user@gc.ca : Test1234</p>
{{/if}}
<form method="post">
  <fieldset>
    <input name="username" id="username" placeholder="USERNAME" required />
    <input name="password" id="password" type="password" placeholder="PASSWORD" required />
   </fieldset>
   <a href="/users/google"><i class="fa-brands fa-google"></i>Login with Google</a>
  <button>Start</button>
</form>
</section>
<!-- PAGE CONTENT END -->
<!-- LOGIN END -->