<!-- LOGIN START -->
<section id="tab" class="login">
  <section id="page-top-container">
    <div>     
       <h1>Login</h1>
    </div>
</section>
{{#if messages}}
<p class="messages-error">{{messages}}</p>
{{else}}
<p class="messages custom">USERNAME: user@gc.ca -  PASSWORD: Test1234</p>
{{/if}}
<form method="post">
  <fieldset>
    <input name="username" id="username" placeholder="USERNAME" required />
    <input name="password" id="password" type="password" placeholder="PASSWORD" required />
   </fieldset>
   <a href="/users/google"><i class="fa-brands fa-google"></i>Login with Google</a>
  <button>GO</button>
</form>
</section>
<!-- LOGIN END -->