<!-- REGISTER START -->
<section id="tab" class="login">
  <section id="page-top-container">
    <div>
       <h1>register</h1>
    </div>
</section>
{{#if messages}}
  <p class="messages-error">{{messages}}</p>
  {{else}}
  <p class="messages">Please create an account</p>
{{/if}}
<form method="post">
  <fieldset>
    <input
      name="username"
      id="username"
      required
      type="email"
      placeholder="USERNAME"
    />

    <input
      name="password"
      id="password"
      type="password"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      placeholder="PASSWORD"
    />

    <input
      name="confirm"
      id="confirm"
      type="password"
      onkeyup="return comparePasswords();"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      placeholder="CONFIRM PASSWORD"
    />
    <span id="pwMessage"></span>
    <a href="/users/google"><i class="fa-brands fa-google"></i>Register with Google</a>
    <button onclick="return comparePasswords();">Register</button>
</fieldset>
</form>
</section>
<!-- REGISTER END -->