

<!-- REGISTER START -->
<!-- PAGE HEADER -->
<section id="page-top-container">
    <div>
       <i class="fa-solid fa-address-card"></i>
    </div>
    <div>
        <h1>register</h1>
    </div>
</section>
<!-- PAGE HEADER END -->
<!-- PAGE CONTENT -->
<section id="tab">
{{#if messages}}
  <p class="error-message-bad">{{messages}}</p>
  {{else}}
  <p class="error-message">Please create an account</p>
{{/if}}
<form method="post">
  <fieldset>
    <input
      name="username"
      id="username"
      required
      type="email"
      placeholder="YOU@EMAIL.COM"
    />

    <input
      name="password"
      id="password"
      type="password"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      placeholder="PASSWORD"
    />

    <input
      name="confirm"
      id="confirm"
      type="password"
      onkeyup="return comparePasswords();"
      required
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      placeholder="CONFIRM"
    />
    <span id="pwMessage"></span>
    <a href="/users/google"><i class="fa-brands fa-google"></i>Register with Google</a>
    <button onclick="return comparePasswords();">Register</button>
</fieldset>
</form>
</section>
<!-- PAGE CONTENT END -->
<!-- REGISTER END -->